<?xml version="1.0" encoding="UTF-8"?>
<configuration info="false">

    <property name="STDOUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %easyHighlight(%5.5level) %magenta(%pid) --- [%15.15thread] %cyan(%-40.40logger{39} [%4.4line]) : %msg%n"/>
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5.5level %pid --- [%15.15thread] %-40.40logger{40} [%4.4line] : %msg%n"/>
    <property name="LOGGINE_FILE_HOME" value="log"/>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.aquiver.ansi.logback.EasyPatternLayout">
                <pattern>
                    ${org.aquiver.logging.console.pattern:-${STDOUT_PATTERN}}
                </pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>